<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Name</title>
</head>
<body>
    <fieldset>
        <legend>@ViewBag.Name</legend>
        <h3>Protein one: <span>@ViewBag.One</span></h3>
        <h3>Protein two: <span>@ViewBag.Two</span></h3>
        <h3>Bread: <span>@ViewBag.Bread</span></h3>
        <h3>Instructions: </h3>
        <span>@ViewBag.Instructions</span>
        <p>created @ViewBag.CreatedAt.DateTime.Now</p>

    </fieldset>
    
</body>
</html>