
@model List<Lizard>

<h3>here is your crew:</h3>
<table class="table table-hover text-center">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Lizard Type</th>
            <th>Pirate Role</th>
            <th>Treasures</th>
            <th>Actions</th>
            <th>Pets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Lizard l in Model)
        {
           <tr class="text-center">
                <td>@l.Name</td>
                <td>@l.LizardType</td>
                <td>@l.PirateRole</td>
                <td>@l.TreasureChests</td>
                <td>
                    <a href="/edit/@l.LizardId" class="btn btn-warning">Edit </a>
                    <a href="/delete/@l.LizardId" class="btn btn-danger">Delete </a>
                </td>
                 <td>@l.MyPets.Count</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center mb-3">
    <a href="/" class="btn btn-success">Home</a>
    <a href="/new/pet" class="btn btn-success">Add a pet</a>
</div>

<table class="table table-hover">
    <thead>
       <tr class="text-center">
            <th>Pet Name </th>
            <th>Pet Type </th>
            <th>Pet Color </th>
            <th>Belongs to </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in ViewBag.Pets)
        {
           <tr class="text-center">
                <td>@p.Name</td>
                <td>@p.Type</td>
                <td>@p.Color</td>
                <td>@p.Owner.Name</td>
            </tr>
        }
    </tbody>
</table>