@model Sandwich //Models/Sandwich.cs

<h1>Here is your Sandwich</h1>
<h3>Name: <span>@Model.Name</span></h3>
<h3>Protein #1: <span>@Model.ProteinOne</span></h3>
<h3>Protein #2: <span>@Model.ProteinTwo</span></h3>
<h3>Bread: <span>@Model.Bread</span></h3>
<h3>Instructions: <span>@Model.Instructions</span></h3>
<h3>Calories: <span>@Model.Calories</span></h3>

<a href="/" class="btn btn-danger">Go make another sandwich</a>
<p>or this way</p>
<a asp-action="Index" asc-controller="Home" class="btn btn-danger">Go make another sandwich</a>